.clients {
    padding: 50px 0;
    position: relative;
}

.clients::before {
    content: "";
    background-image: url(/imgs/background-2.png);
    background-size: cover;
    position: absolute;
    opacity: 0.2;
    z-index: -1;
    inset: 0;
}

.clients .main-heading::before {
    content: "+50";
}

.clients .swiper {
    height: 30vh;
}


.clients .swiper .swiper-button-next,
.clients .swiper .swiper-button-prev { 
    top: 173px;
}

.clients .swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients .swiper .swiper-slide img {
    width: 150px;
}
