/* start home section style */

.home {

    position: relative;


}

.home::before {
    background-image: url(../imgs/background-3.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
    z-index: -1;


}





.home .bd-containt-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

.home .bd-containt-container .home-logo {
    display: none;
}

.home .bd-containt-container .home-h1 {
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
    font-size: 45px;
    margin-bottom: 39px;
    margin-top: 274px;



}

.home .bd-containt-container .home-h3 {
    font-weight: var(--fw-base);
    color: var(--clr-primary);
    font-size: 30px;
    margin-bottom: 75px;



}

.home .bd-containt-container .home-line {
    content: "";
    width: 55%;
    border-bottom: 7px solid var(--clr-accent);
    border-radius: var(--br-normal);
    margin-bottom: 39px;


}



.home .bd-containt-container .home-social {
    position: fixed;
    top: 284px;
    left: 0;
    display: flex;
    flex-direction: column;


}

.home .bd-containt-container .home-social .home-social-a {

    padding-left: 49px;
    margin-bottom: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;

}

.home .bd-containt-container .home-social .home-social-a2 {


    width: 24px;
    height: 24px;
}


.home .bd-containt-container .home-social :last-child {
    margin-right: 0;
    width: calc(100%-8px);
    height: calc(100%-8px);
}



.home .bd-containt-container .home-p {
    font-weight: var(--fw-light);
    color: var(--clr-primary);
    font-size: 20px;
    margin-bottom: 51px;



}



@media only screen and (max-width: 768px) {
    .home::before {
        background-image: url(../imgs/background-1.png);
        opacity: 0.2;
    }

    .home .bd-containt-container .home-logo {
        display: block;
        margin-top: 168px;
    }

    .home .bd-containt-container .home-h1 {
        margin-bottom: 14px;
        margin-top: 32px;
        font-size: 24px;

    }

    .home .bd-containt-container .home-h3 {
        font-size: 16px;
        margin-bottom: 26px;

    }

    .home .bd-containt-container .home-line {
        margin-bottom: 90px;
        width: 70%;
        border-bottom: 3px solid var(--clr-accent);

    }

    .home .bd-containt-container .home-social {
        position: initial;
        top: 0;
        left: 0;
        display: flex;
        padding-left: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 86px;

    }


    .home .bd-containt-container .home-social .home-social-a {
        margin-right: 19px;
        padding-left: 0;
        margin-bottom: 0;
        width: 32px;
        height: 32px;
    }

    .home .bd-containt-container .home-social .home-social-a2 {
        padding-left: 0;
        margin-bottom: 0;
        width: 24px;
        height: 24px;
    }

    .home .bd-containt-container .home-social .home-social-a .home-social-a-img {

        width: calc(100%-8px) !important;
        height: calc(100%-8px);
    }

    .home .bd-containt-container .home-social :last-child {
        margin-right: 0;
        width: calc(100%-8px) !important;
        height: calc(100%-8px);
    }




    .home .bd-containt-container .home-p {
        display: none;

    }


}

/* end home section style */