:root {
  /* colors */
  --clr-primary:         #FFFFFF;
  
  --clr-background:      #000000;
  
  --clr-accent:          #F9CC11;
  --clr-accent-content:  #030303;

  --clr-neutral-300:     #1D1C1C;
  --clr-neutral-200:     #696969;
  --clr-neutral-100:     #D9D9D9;


  /* font family */
  --font-family: "Inter", sans-serif;

  /* font weights */
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-base: 400;
  --fw-light: 300;

  /* border radius */
  --br-large: 20px;
  --br-normal: 10px;
}

*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-background);
  font-family: var(--font-family);
  font-weight: var(--fw-base);
  min-height: 100vh;
}

