@import './main.css';
nav {
    background-color: transparent;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-container {
    position: relative;
    height: 100px;
    padding: 0 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.nav-container .logo-nav img{
    width: 65px;
    height: 40px;
}
.links-list-nav {
    list-style: none;
    display: flex;
    align-items: center;
}
.links-list-nav .link-nav {
    margin-left: 40px;
}
.links-list-nav .link-nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}
.links-list-nav .link-nav.active-nav a {
    color: white;
    border-bottom: 2px solid var(--clr-accent);
}

.st {
    display: block;
    margin: 5px 0;
    height: 2px;
    background-color: var(--clr-accent);
    border-radius: 1px;
    transition-duration: .3s;
}
.st#st1 {
    width: 40px;
}
.st#st2 {
    width: 32px;
}
.st#st3 {
    width: 24px;
}
.response-in-mobile {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
}
.hidden-menu-nav {
    display: none;
    position: absolute;
    right: 0px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}
.links-list-nav-mobile {
    transform: translateX(100%);
    transition-duration: .5s;
    position: fixed;
    right: 0;
    bottom: 0;
    list-style: none;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 40%;
    z-index: 99;
    padding: 100px 0 0;
}
.link-nav-mob {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    margin-bottom: 40px;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.link-nav-mob a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 3px;
}
.link-nav-mob:hover a {
    color: var(--clr-accent);
}
.link-nav-mob:hover {
    background-color: rgba(255, 255, 255, 0.158);
    backdrop-filter: blur(10px);
}
.link-nav-mob.active-mobile a {
    color: var(--clr-accent);
}
.trans-0{
    transform: translateX(0);
}
.w-40 {
    width: 40px !important;
}
@media (max-width:1000px) {
    .d-none-nav {
        display: none;
    }
    .d-block-nav {
        display: flex;
    }
}