@import '../css/main.css';
:root {
  --mask-width : 200px;
  --mask-image-content-left: linear-gradient(
        to left,
        black var(--mask-width),
        transparent,
        black calc(100%),
        transparent
    );
  --mask-image-content-right: linear-gradient(
        to right,
        black var(--mask-width),
        transparent,
        black calc(100%),
        transparent
    );
}
.right-slide-port {
  background-image: var(--mask-image-content-right);
}
.left-slide-port {
  background-image: var(--mask-image-content-left);
}
.port-sec {
    backdrop-filter: blur(2px);
    overflow: hidden;
    user-select: none;
    color: white;
    height: 100vh;
    background-image: url("./../imgs/portfolio/Rectangle\ 68.png");
    background-size: cover;
    position: relative;
}
.port-sec::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
}
.port-content {
    position: relative;
    z-index: 1;
}
.port-content .port-header {
    text-align: center;
    padding: 74px 0;
    font-weight: 700;
    font-size: 45px;
}
.port-redu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.port-redu .redu {
    margin: 0 30px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 70%;
}
.port-redu .redu.active {
  opacity: 100%;
  position: relative;
}
.port-redu .redu.active::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  background-color: var(--clr-accent);
  bottom: -5px;
  left: 0;
}
.swiper {
    overflow: visible !important;
    width: 1200px;
    margin-top: 85px;
  }

  .swiper-slide {
    width: 400px !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(2px);
    height: fit-content !important;
    position: relative;
  }
  .swiper-slide::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: var(--mask-image-content-left);
    background-size: cover;
  }
  .swiper-slide-prev::after {
    background-image: var(--mask-image-content-right);
  }
.swiper-slide-active , .swiper-slide-next{
    filter:blur(0px);
    transition-duration: .4s;
}
.swiper-slide-active::after {
  transition-duration: 2s;
  background-image: none;
}
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}
  .swiper-button-next , .swiper-button-prev {
    z-index: 11 !important;
    top: 650px !important;
    color: var(--clr-accent) !important;
  }
  .swiper-button-next::after , .swiper-button-prev::after {
    z-index: 11 !important;
    font-size: 20px;
  }
  .swiper-pagination {
    bottom: -100px !important;
  }
  .assi {
    margin-bottom: -100px;
  }
  .swiper-pagination-bullet {
    color: transparent !important;
    border: 1px solid var(--clr-accent) ;
    width: 10px !important;
    height: 10px !important;
    z-index: 10 !important;
    opacity: 1 !important;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--clr-accent) !important;
    transform: scale(1.5);
    transition-duration: .3s;
    margin: 0 10px !important;
  }
  .port-c-cont {}
  .port-card-text {
    background-color: #1D1C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  .port-card-text p {
    font-weight: 300;
font-size: 16px;
  }
  .port-card-text a {
    font-weight: 300;
font-size: 16px;
color: var(--clr-accent);
  }
  @media(max-width:1000px) {
    .d-none-mobile {
      display: none !important;
    }
  }