.bh-talkSection {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    background-image: url(../imgs/yellow-logo.png); 
    background-position: center;
    background-size: cover;
}
/* Start top-section */
.bh-talkSection .subtitle1 {
    color: var(--clr-accent);
    font-weight: var(--fw-light);
    text-align: center;
    line-height: 22px;
    padding-top: 20px;
}
.bh-talkSection .title {
    color: var(--clr-primary);
    font-size: 45px;
    font-weight: var(--fw-bold);
    text-align: center;
    text-transform: capitalize;
    line-height: 54px;
}
.bh-talkSection .subtitle2 {
    color: var(--clr-primary);
    font-weight: var(----fw-semibold);
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding: 20px 0;
}
.paragraph-container {
    width: 537px;
    margin: 0 auto;
}
.bh-talkSection .paragraph-container .paragraph {
    color: var(--clr-neutral-100);
    text-align: center;
    font-weight: var(--fw-light);
    line-height: 31px;
    padding: 25px 0;
}
@media (max-width:640px) {
    .bh-talkSection .subtitle1 {
        font-size: 12px;
    }
    .bh-talkSection .title {
        font-size: 20px;
        line-height: 24px;
    }
    .bh-talkSection .subtitle2,
    .paragraph-container {
        display: none;
    }
}
/* End top-section */

/* Start Contact div */
.bh-talkSection .contact-box .input-box,
.bh-talkSection .contact-box .message-box {
    display: flex;
    flex-direction: column;
}
.bh-talkSection .contact-box .input-box label,
.bh-talkSection .contact-box .message-box label {
    color: var(--clr-neutral-100);
    text-align: center;
    font-size: 20px;
    font-weight: var(--fw-semibold);
    padding-bottom: 18px;
}
.bh-talkSection .contact-box .message-box label {
    padding-bottom: 25px;
}
.bh-talkSection .contact-box .input-box input {
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid var(--clr-accent);
    width: 300px;
    margin: auto;
}
.bh-talkSection .contact-box .input-box input:focus,
.bh-talkSection .contact-box .message-box-sm input:focus {
    outline: none;
}
.bh-talkSection .contact-box .your-info .input-box {
    margin-bottom: 18px;
}
.bh-talkSection .contact-box .message-box input {
    width: 470px;
    height: 82px;
    margin: auto;
    background-color: transparent;
    border: 1px solid var(--clr-accent);
}
.bh-talkSection .contact-box .message-box {
    padding-bottom: 25px;
}
.bh-talkSection .contact-box .submit-btn {
    width: 120px;
    font-size: 18px;
    font-weight: var(--fw-semibold);
    line-height: 22px;
    background-color: transparent;
    color: var(--clr-primary);
    display: block;
    margin: auto;
    border: 1px solid var(--clr-accent);
    padding: 2px 10px;
}
.bh-talkSection .contact-box .message-box-sm {
    margin-bottom: 18px;
    position: relative;
    width: 100%;
    height: 225px;
    margin-top: 40px;
}
.bh-talkSection .contact-box .message-box-sm input:focus + .placeholder-box {
    display: none;
}
.bh-talkSection .contact-box .message-box-sm input {
    width: 100%;
    height: 225px;
    background-color: transparent;
    border: 1px solid var(--clr-accent);
}
.bh-talkSection .contact-box .message-box-sm .placeholder-box {
    position: absolute;
    top: 10%;
    margin: auto;
    width: 100%;
    text-align: center;
}
.bh-talkSection .contact-box .message-box-sm .first-placeholder {
    color: var(--clr-primary);
    opacity: 0.5;
    font-weight: var(----fw-semibold);
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
}
.bh-talkSection .contact-box .message-box-sm .second-placeholder {
    color: var(--clr-neutral-100);
    opacity: 0.6;
    text-align: center;
    font-size: 10px;
    font-weight: var(--fw-light);
    line-height: 19px;
    padding: 10px 20px;
    width: 320px;
    margin: auto;
}
@media (min-width:640px) {
    .bh-talkSection .contact-box .message-box-sm {
        display: none;
    }
}
@media (max-width:640px) {
    .bh-talkSection .contact-box .your-info {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 18px;
    }
    .bh-talkSection .contact-box .input-box label {
        font-size: 12px;
        padding-bottom: 0;
        text-align: left;
        opacity: 0.5;
    }
    .bh-talkSection .contact-box .input-box input {
        width: 137px;
    }
    .bh-talkSection .contact-box .message-box {
        display: none;
    }
    .bh-talkSection .contact-box .submit-btn {
        margin: 0;
        width: 80px;
        padding: 4px 18px;
        font-weight: var(--fw-bold);
        background-color: var(--clr-accent);
        color: var(--clr-accent-content);
    }
    .bh-talkSection .top-section {
        margin-bottom: 40px;
    }
}
/* End Contact div */

/* Start Social div */
.bh-talkSection .social-box {
    position: absolute;
    top: 28%;
}
.bh-talkSection .social-box ul.social-list {
    text-align: center;
}
.bh-talkSection .social-box ul.social-list > li.list-item {
    margin-bottom: 5px;
    display: block;
}
.bh-talkSection .social-box .social-list .list-item-para {
    color: var(--clr-primary);
    font-size: 10px;
    font-weight: var(--fw-base);
}
@media (min-width:640px) {
    .bh-talkSection .social-box ul.social-list > li:first-child {
        display: none;
    }
}
@media (max-width:640px) {
    .bh-talkSection .social-box {
        top: unset;
        width: 90%;
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }
    .bh-talkSection .social-box ul.social-list {
        display: flex;
        align-items: center;
    }
    .bh-talkSection .social-box ul.social-list > li.list-item {
        margin-right: 3px;
    }
    .bh-talkSection .social-box ul.social-list > li:first-child {
        border-right: 1px solid var(--clr-primary);
        padding: 13px 5px;
    }
    .bh-talkSection .social-box ul.social-list > li.list-item img {
        padding: 2px;
    }
}
/* End Social div */